<template>
	<div id="tool">
		<Tabs type="card" :animated="false" closable @on-tab-remove="handleTabRemove">
			<TabPane v-for="(tab,index) in tabs" :key="index" :label="tab.label">
				<http-service
					:method="tab.method"
					:url="tab.name"
					:params="index"
					@on-change-method="handleMethodChange"
					@on-change-url="handleUrlChange"
				></http-service>
			</TabPane>
			<Button @click="handleTabsAdd" size="small" slot="extra">增加</Button>
		</Tabs>
	</div>
</template>

<script>
	import httpService from '../../components/httpService';

	export default {
		name: 'httpTool',
		components: {
			httpService
		},
		data () {
			return {
				tabs: [
					{
						name: '',
						method: 'GET',
						label: (h) => {
							return h('span', {'class': 'label'}, [
								h('span', {
									'class': 'method method-get',
									domProps: {innerHTML: 'GET'}
								}),
								'' || 'Untitled Request']);
						}
					}]
			};
		},
		methods: {
			handleTabsAdd () {
				this.tabs.push({
					name: 'Untitled Request',
					method: 'GET',
					label: (h) => {
						return h('span', {'class': 'label'}, [
							h('span', {
								'class': 'method method-get',
								domProps: {innerHTML: 'GET'}
							}),
							'Untitled Request']);
					}
				});
			},
			handleTabRemove (name) {
				console.log(name);
			},
			handleMethodChange (method, params) {
				const self = this;
				this.$set(this.tabs[params], 'method', method);
				this.$set(this.tabs[params], 'label', (h) => {
					return h('span', {'class': 'label line-clamp'}, [
						h('span', {
							'class': `method method-${method.toLowerCase()}`,
							domProps: {innerHTML: method}
						}),
						self.tabs[params].name || 'Untitled Request']);
				});
			},
			handleUrlChange (url, params) {
				const self = this;
				this.$set(this.tabs[params], 'name', url);
				this.$set(this.tabs[params], 'label', (h) => {
					return h('span', {'class': 'label'}, [
						h('span', {
							'class': `method method-${self.tabs[params].method.toLowerCase()}`,
							domProps: {innerHTML: self.tabs[params].method}
						}),
						url|| 'Untitled Request']);
				});
			}
		}
	};
</script>

<style lang="stylus" scoped>
	#tool {
		>>> .ivu-tabs-tab {
			.icon-close {
				display none
			}

			& .ivu-tabs-tab-active {
				.icon-close {
					display block
				}
			}

			.label {
				display: inline-block
				line-height normal
				color black
				max-width 150px
				overflow: hidden;
			}

			.method {
				font-weight bold
				margin-right 4px
				font-size smaller

				&.method-get {
					color lightgreen
				}

				&.method-post {
					color orange
				}

				&.method-put {
					color blue
				}

				&.method-patch {
					color gray
				}

				&.method-delete {
					color red
				}
			}
		}
	}
</style>
