<template>
	<div id="tool">
		<div id="options">
			<div class="title">配置项</div>
			<div class="options-item">
				<div class="options-name">数据</div>
				<Input v-model="data" placeholder="Enter something..." style="width: 300px"/>
			</div>
			<div class="options-item">
				<div class="options-name">cellSize</div>
				<Slider v-model="cellSize" :step="2" :min="2" :max="10" show-stops show-input style="flex: 1"></Slider>
			</div>
			<div class="options-item">
				<div class="options-name">大小</div>
				<Slider v-model="size" :step="10" :min="100" :max="600" show-input style="flex: 1"></Slider>
			</div>
			<div class="options-item">
				<div class="options-name">前景色</div>
				<ColorPicker v-model="foreground"/>
			</div>
			<div class="options-item">
				<div class="options-name">背景色</div>
				<ColorPicker v-model="background"/>
			</div>
			<div class="options-item">
				<div class="options-name">logo</div>
				<Upload
					:before-upload="handleUpload"
					accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"
					action="">
					<Button icon="ios-cloud-upload-outline">Select the file to upload</Button>
				</Upload>
			</div>
		</div>
		<div id="qrcode">
			<qrcanvas :options="options" @updated="onUpdated" id="qr" style="width: 100%;height: 100px"></qrcanvas>
			<Button type="success" long class="mt-20" @click="saveImg">保存到本地</Button>
		</div>
		<img src="" alt="" id="img" v-show="false"/>
	</div>
</template>

<script>
	import Qrcanvas from 'qrcanvas-vue';
	import {imgToBase64} from '../../assets/js/utils';

	export default {
		name: 'qrCode',
		components: {
			Qrcanvas
		},
		data() {
			return {
				options: {
					data: location.href,
					cellSize: 4,
					foreground: '#000000',
					background: '#FFFFFF'
				},
				data: location.href,
				cellSize: 4,
				size: 10,
				foreground: '#000000',
				background: '#FFFFFF',
				logo: {image: document.querySelector('#img')},
				canvasDom: ''
			};
		},
		methods: {
			onUpdated(data) {
				this.canvasDom = data;
			},
			handleUpload(file) {
				document.querySelector('#img').src = `data:image/png;base64,${imgToBase64(file.path)}`;
				this.options = Object.assign({}, this.options, {
					logo: {
						image: document.querySelector('#img'),
						size: 0.15
					}
				});
				return false;
			},
			saveImg() {
				let a = document.createElement('a');
				a.setAttribute('href', this.canvasDom.toDataURL("image/png"));
				a.setAttribute('download', '二维码.png');
				a.click();
			}
		},
		watch: {
			data(val) {
				this.options = Object.assign({}, this.options, {
					data: val
				});
			},
			cellSize(val) {
				this.options = Object.assign({}, this.options, {
					cellSize: val
				});
			},
			size(val) {
				document.querySelector('#qr').style.width = val + 'px';
				document.querySelector('#qr').style.height = val + 'px';
			},
			foreground(val) {
				this.options = Object.assign({}, this.options, {
					foreground: val
				});
			},
			background(val) {
				this.options = Object.assign({}, this.options, {
					background: val
				});
			}
		}
	};
</script>

<style lang="stylus" scoped>
	#tool {
		display flex
		width 100%
		height 100%
		padding 20px

		#qrcode {
			display flex
			align-items center
			flex-flow column
		}

		#options {
			flex 1
			padding-right 30px
			margin-right 30px

			.title {
				font-weight bold
				font-size 20px
			}

			.options-item {
				display flex
				align-items center
				justify-content space-between
				min-height 60px

				.options-name {
					font-size 16px
					padding 0 10px
				}
			}
		}
	}
</style>
