<template>
	<div id="color">
		<div class="type">RGBA转HEX</div>
		<div class="inline-block w-300px">
			<Input v-model="input1" placeholder="rgb(xx,xx,xx)或者rgba(xx,xx,xx,xx)" v-context>
				<span slot="append" @click="convert(1)">转换</span>
			</Input>
		</div>
		<div class="inline-block w-300px ml-20">
			<Input v-model="output1" v-context>
				<span slot="prepend">转换的结果</span>
			</Input>
		</div>
		<div class="type mt-20">HEX转RGBA</div>
		<div class="inline-block w-300px">
			<Input v-model="input2" placeholder="#xxxxxx或者#xxxxxxxx" v-context>
				<span slot="append" @click="convert(2)">转换</span>
			</Input>
		</div>
		<div class="inline-block w-300px ml-20">
			<Input v-model="output2" v-context>
				<span slot="prepend">转换的结果</span>
			</Input>
		</div>
		<div class="type mt-20">RGBA转HSLA</div>
		<div class="inline-block w-300px">
			<Input v-model="input3" placeholder="rgb(xx,xx,xx)或者rgba(xx,xx,xx,xx)" v-context>
				<span slot="append" @click="convert(3)">转换</span>
			</Input>
		</div>
		<div class="inline-block w-300px ml-20">
			<Input v-model="output3" v-context>
				<span slot="prepend">转换的结果</span>
			</Input>
		</div>
		<div class="type mt-20">HSLA转RGBA</div>
		<div class="inline-block w-300px">
			<Input v-model="input4" placeholder="HSLA(xx,xx,xx,xx)或者HSL(xx,xx,xx)" v-context>
				<span slot="append" @click="convert(4)">转换</span>
			</Input>
		</div>
		<div class="inline-block w-300px ml-20">
			<Input v-model="output4" v-context>
				<span slot="prepend">转换的结果</span>
			</Input>
		</div>
	</div>
</template>


<script>
	import {rgbaToHex, hexToRgba, rgbaToHsl, hslaToRgba} from '../../assets/js/utils';

	export default {
		name: "colorConvert",
		data() {
			return {
				input1: "",
				output1: "",
				input2: "",
				output2: "",
				input3: "",
				output3: "",
				input4: "",
				output4: ""
			};
		},
		methods: {
			convert(type) {
				const _this = this;
				switch (type) {
					case 1:
						_this.output1 = rgbaToHex(this.input1);
						break;
					case 2:
						_this.output2 = hexToRgba(this.input2);
						break;
					case 3:
						_this.output3 = rgbaToHsl(this.input3);
						break;
					case 4:
						_this.output4 = hslaToRgba(this.input4);
						break;
					case 5:
						break;
					case 6:
						break;
				}
			}
		}
	};
</script>

<style lang="stylus" scoped>
	#color {
		width 100%
		height 100%
		padding 16px

		.type {
			font-size 20px
			font-weight bold
		}
	}
</style>
