<template>
  <div id="textTransform">
    <Form :label-width="80">
      <Input v-model="inputValue" type="textarea" :autosize="{minRows: 5,maxRows: 10}" v-context></Input>
    </Form>
    <div class="btn">
      <Button type="primary" ghost size="large" @click="changeToUpperCase">全部大写</Button>
      <Button type="primary" ghost size="large" @click="changeToLowCase" class="ml-50">全部小写</Button>
      <Button type="primary" ghost size="large" @click="copy" class="ml-50">复制</Button>
      <Button type="primary" ghost size="large" @click="paste" class="ml-50">粘贴</Button>
      <Button type="primary" ghost size="large" @click="clear" class="ml-50">清空</Button>
    </div>
  </div>
</template>

<script>

  export default {
    name: "textTransform",
    data() {
      return {
        inputValue: ""
      };
    },
    methods: {
      changeToUpperCase() {
        this.inputValue = this.inputValue.toUpperCase();
      },
      changeToLowCase() {
        this.inputValue = this.inputValue.toLowerCase();
      },
      copy() {
				navigator.clipboard.writeText(this.inputValue).then(() => {
					this.$Message.success('文本已经成功复制到剪切板');
				}).catch(err => {
					this.$Message.error(`无法复制此文本：${err}`);
				});
      },
      paste() {
        navigator.clipboard.readText()
          .then(text => {
            this.inputValue = text;
          })
          .catch(err => {
            this.$Message.error(`Failed to read clipboard contents: ${err}`);
          });
      },
      clear(){
        this.inputValue=""
      }
    }
  };
</script>

<style lang="stylus" scoped>
  #textTransform {
    padding 10px 20px
    .btn {
      margin-top 20px
    }
  }
</style>
