<template>
	<div id="time-transform">
		<Split v-model="split" mode="vertical">
			<div slot="top" class="demo-split-pane">
				<Input v-model="inputValue1" placeholder="输入时间" style="width: 300px" v-context/>
				<Select v-model="selectValue1" style="width:100px">
					<Option value="1">毫秒</Option>
					<Option value="2">秒</Option>
				</Select>
				<span>{{outputValue1}}</span>
			</div>
			<div slot="bottom" class="demo-split-pane">
				<DatePicker v-model="inputValue2" type="datetime" format="yyyy-MM-dd HH:mm:ss" placeholder="选择日期(包括时间)" style="width: 200px"></DatePicker>
				<Select v-model="selectValue2" style="width:100px">
					<Option value="1">毫秒</Option>
					<Option value="2">秒</Option>
				</Select>
				<span v-context>{{outputValue2}}</span>
			</div>
		</Split>

	</div>
</template>

<script>
	export default {
		name: "timeTransform",
		data() {
			return {
				inputValue1: "",
				inputValue2: new Date(),
				selectValue1: "1",
				selectValue2: "1",
				split: 0.5
			};
		},
		computed: {
			outputValue1() {
				function change(t) {
					if (t < 10) {
						return "0" + t;
					} else {
						return t;
					}
				}

				if (this.inputValue1 == "") {
					return;
				}
				let date;
				if (this.selectValue1 == 1) {
					date = new Date(parseFloat(this.inputValue1));
				} else {
					date = new Date(this.inputValue1 * 1000);
				}

				let Y = date.getFullYear() + '-';
				let M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
				let D = change(date.getDate()) + ' ';
				let h = change(date.getHours()) + ':';
				let m = change(date.getMinutes()) + ':';
				let s = change(date.getSeconds());
				return Y + M + D + h + m + s;

			},
			outputValue2() {
				if (this.selectValue2 == 1) {
					return this.inputValue2.getTime();
				} else if (this.selectValue2 == 2) {
					return parseInt(this.inputValue2.getTime() / 1000);
				}
			}
		},
		watch: {
			inputValue2(val) {

			}
		}
	};
</script>

<style lang="stylus" scoped>
	#time-transform {
		padding 0 40px
		width 100%
		height 100%
	}

	.demo-split-pane {
		padding 50px 40px
	}
</style>
