<template>
	<div id="format">
		<Input v-model="input" type="textarea" :autosize="true" placeholder="Enter something..." v-context/>
	</div>
</template>

<script>
	const prettier = require("prettier/standalone");
	const plugins = [require("prettier/parser-graphql")];

	export default {
		name: "html-format",
		data() {
			return {
				input: ""
			};
		},
		mounted() {
			prettier.format("query { }", {parser: "graphql", plugins});
		}
	};
</script>

<style scoped>

</style>
