<template>
	<webview src="static/jsonon/index.html" disablewebsecurity style="width: 100%;height: 100%" v-context></webview>
</template>

<script>
	export default {
		name: 'jsonFormat'
	};
</script>

<style scoped>

</style>
