<template>
  <div id="translate">
    翻译结果:{{result.trans_result[0].dst}}
  </div>
</template>

<script>
  export default {
    name: "baiduTranslate",
    props: {
      result: {
        required: true
      }
    }
  };
</script>

<style lang="stylus" scoped>
#translate{
  font-size 20px
  padding 20px
}
</style>
