<template>
  <div id="clock" @dblclick="fullScreen">
    <system-info id="system"></system-info>
    <div class="swiper-container" id="swiper1">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="item in 10">{{item-1}}
          <div class="divider"></div>
        </div>
      </div>
    </div>
    <div class="swiper-container" id="swiper2">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="item in 10">{{item-1}}
          <div class="divider"></div>
        </div>
      </div>
    </div>
    <div class="hr">:</div>
    <div class="swiper-container" id="swiper3">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="item in 10">{{item-1}}
          <div class="divider"></div>
        </div>
      </div>
    </div>
    <div class="swiper-container" id="swiper4">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="item in 10">{{item-1}}
          <div class="divider"></div>
        </div>
      </div>
    </div>
    <div class="hr">:</div>
    <div class="swiper-container" id="swiper5">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="item in 10">{{item-1}}
          <div class="divider"></div>
        </div>
      </div>
    </div>
    <div class="swiper-container" id="swiper6">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="item in 10">{{item-1}}
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { ipcRenderer } from 'electron';
  import Swiper from 'swiper';
  import systemInfo from './systemInfo';

  export default {
    name: 'clock',
    components: {
      systemInfo
    },
    data () {
      return {
        swiper1: '',
        swiper2: '',
        swiper3: '',
        swiper4: '',
        swiper5: '',
        swiper6: '',
        swiperIndex: {
          swiper1: 0,
          swiper2: 0,
          swiper3: 0,
          swiper4: 0,
          swiper5: 0,
          swiper6: 0
        },
        timeArray: [
          0,
          0,
          0,
          0,
          0,
          0]
      };
    },
    methods: {
      fullScreen () {
        document.querySelector('#clock').webkitRequestFullScreen();
      },
      cancelFullScreen () {
        document.querySelector('#clock').webkitCancelFullScreen();
      },
      setTimer () {
        const _this = this;
        this.timer = setInterval(() => {
          let time = new Date();
          let hours = time.getHours();
          if (hours < 10) {
            _this.$set(_this.timeArray, 0, 0);
            _this.$set(_this.timeArray, 1, hours);
          } else {
            _this.$set(_this.timeArray, 0, Number(String(hours)[0]));
            _this.$set(_this.timeArray, 1, Number(String(hours)[1]));
          }
          let minutes = time.getMinutes();
          if (minutes < 10) {
            _this.$set(_this.timeArray, 2, 0);
            _this.$set(_this.timeArray, 3, minutes);
          } else {
            _this.$set(_this.timeArray, 2, Number(String(minutes)[0]));
            _this.$set(_this.timeArray, 3, Number(String(minutes)[1]));
          }
          let seconds = time.getSeconds();
          if (seconds < 10) {
            _this.$set(_this.timeArray, 4, 0);
            _this.$set(_this.timeArray, 5, seconds);
          } else {
            _this.$set(_this.timeArray, 4, Number(String(seconds)[0]));
            _this.$set(_this.timeArray, 5, Number(String(seconds)[1]));
          }
        }, 1000);
      },
      initSwipers () {
        this.swiper1 = new Swiper('#swiper1', {
          direction: 'vertical', // 垂直切换选项
          loop: true,
          effect: 'flip'
        });
        this.swiper2 = new Swiper('#swiper2', {
          direction: 'vertical', // 垂直切换选项
          loop: true,
          effect: 'flip'
        });
        this.swiper3 = new Swiper('#swiper3', {
          direction: 'vertical', // 垂直切换选项
          loop: true,
          effect: 'flip'
        });
        this.swiper4 = new Swiper('#swiper4', {
          direction: 'vertical', // 垂直切换选项
          loop: true,
          effect: 'flip'
        });
        this.swiper5 = new Swiper('#swiper5', {
          direction: 'vertical', // 垂直切换选项
          loop: true,
          effect: 'flip'
        });
        this.swiper6 = new Swiper('#swiper6', {
          direction: 'vertical', // 垂直切换选项
          loop: true,
          effect: 'flip'
        });
      }
    },
    watch: {
      timeArray (newVal) {
        const _this = this;
        newVal.forEach((item, index) => {
          if (_this.swiperIndex[`swiper${index + 1}`] != item) {
            _this.$set(_this.swiperIndex, [`swiper${index + 1}`], item);
          }
        });
      },
      swiperIndex: {
        deep: true,
        handler (newVal, oldVal) {
          this.swiper1.slideTo(newVal.swiper1 + 1, 1000, false);
          this.swiper2.slideTo(newVal.swiper2 + 1, 1000, false);
          this.swiper3.slideTo(newVal.swiper3 + 1, 1000, false);
          this.swiper4.slideTo(newVal.swiper4 + 1, 1000, false);
          this.swiper5.slideTo(newVal.swiper5 + 1, 1000, false);
          this.swiper6.slideTo(newVal.swiper6 + 1, 1000, false);
        }
      }
    },
    mounted () {
      this.initSwipers();
      this.setTimer();
    }
  };
</script>

<style lang="stylus" scoped>
  @import "../assets/css/swiper.min.css"
  #clock {
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    z-index 10000
    background url("../assets/img/binding_dark.png") center center repeat
    display flex
    align-items center
    justify-content center
    user-select none

    #system {
      position absolute
      top 2vw
      left 0
      right 0
    }

    .hr {
      font-size 90px
    }

    #swiper1,
    #swiper2,
    #swiper3,
    #swiper4,
    #swiper5,
    #swiper6 {
      width 10vw
      height 15vw
      background #333
      box-shadow 0 2px 5px rgba(0, 0, 0, 0.7)
      border-radius 8px

      .swiper-slide {
        position relative
        color white
        font-size 90px
        width 10vw
        height 15vw
        line-height 15vw
        text-align center

        .divider {
          position absolute
          top 50%
          left 0
          right 0
          height 1px
          background black
          transform translateY(0.5)
        }
      }
    }
  }
</style>
