<template>
  <div id="foot">
    <weather-report></weather-report>
    <span class="time">当前时间: {{date | time}}</span>
  </div>
</template>

<script>
  import weatherReport from './weatherReport';



  export default {
    name: 'footBar',
    components: {
      weatherReport
    },
    data () {
      return {
        date: new Date().getTime()
      };
    },
    methods: {

    },
    computed: {},
    mounted () {
      const that = this;
      this.timer = setInterval(() => {
        that.date = new Date().getTime();
      }, 1000);
    },
    beforeDestroy () {
      if (this.timer) {
        clearInterval(this.timer);
      }
    }

  };
</script>

<style lang="stylus" scoped>
  #foot {
    background #515a6e
    color white

    .time {
      float right
      font-size 24px
    }
  }
</style>
