<template>
	<div id="service">
		<div class="flex-wrap p-20">
			<Input v-model="request_url" style="flex: 1;" v-context placeholder="Enter Request URL">
				<Select v-model="request_method" slot="prepend" style="width: 80px">
					<Option value="GET">GET</Option>
					<Option value="POST">POST</Option>
					<Option value="PUT">PUT</Option>
					<Option value="PATCH">PATCH</Option>
					<Option value="DELETE">DELETE</Option>
					<Option value="HEAD">HEAD</Option>
					<Option value="OPTIONS">OPTIONS</Option>
				</Select>
			</Input>
			<Button type="primary" @click="sendRequest">Send</Button>
		</div>
		<Tabs value="name1">
			<TabPane label="Params" name="name1">
				<Table border ref="selection" :columns="columns1" :data="data1" disabled-hover></Table>
			</TabPane>
			<TabPane label="Headers" name="name2">
				<Table border ref="selection" :columns="columns2" :data="data2" disabled-hover></Table>
			</TabPane>
			<TabPane label="Body" name="name3" :disabled="isBodyDisable">
				<RadioGroup v-model="content_type" class="mb-30 pl-20">
					<Radio label="multipart/form-data">form-data</Radio>
					<Radio label="application/x-www-form-urlencoded">x-www-form-urlencoded</Radio>
					<Radio label="application/json">json</Radio>
					<Radio label="application/xml">xml</Radio>
				</RadioGroup>
				<Table border ref="selection" :columns="columns3" :data="data3" disabled-hover></Table>
			</TabPane>
		</Tabs>
		<Collapse accordion value="1" class="mt-20">
			<Panel name="1">
				Response
				<p slot="content">
					<json-editor :json="response" v-show="response"></json-editor>
				</p>
			</Panel>
		</Collapse>
	</div>
</template>

<script>
	import jsonEditor from './jsonEditor';

	const request = require('request');
	const qs = require('qs');

	export default {
		name: 'http-service',
		props: {
			params: {default: {}},
			method: {default: 'GET'},
			url: {default: ''}
		},
		components: {
			jsonEditor
		},
		data() {
			return {
				request_method: this.method,
				request_url: this.url,
				isBodyDisable: true,
				columns1: [
					{
						type: 'selection',
						width: 60,
						align: 'center'
					},
					{
						title: 'key',
						key: 'key',
						render: (h, params) => {
							const _this = this;
							return h('Input', {
								props: {
									placeholder: 'key',
									value: _this.data1[params.index].key,
									clearable: true
								},
								directives: [{name: 'context'}],
								on: {
									'on-change': (event) => {
										if (_this.timer) {
											clearTimeout(_this.timer);
										}
										_this.timer = setTimeout(() => {
											_this.data1[params.index].key = event.target.value;
											if (event.target.value != '') {
												_this.data1[params.index]._disabled = false;
												_this.data1[params.index]._checked = true;
												let last = _this.data1[_this.data1.length - 1];
												if (last.key != '' || last.value != '' || last.description != '') {
													_this.data1.push({
														key: '',
														value: '',
														description: '',
														_disabled: true
													});
												}
											}
										}, 600);
									}
								}
							});
						}
					},
					{
						title: 'value',
						key: 'value',
						render: (h, params) => {
							const _this = this;
							return h('Input', {
								props: {
									placeholder: 'value',
									value: _this.data1[params.index].value,
									clearable: true
								},
								directives: [{name: 'context'}],
								on: {
									'on-change': (event) => {
										if (_this.timer) {
											clearTimeout(_this.timer);
										}
										_this.timer = setTimeout(() => {
											_this.data1[params.index].value = event.target.value;
											if (event.target.value != '') {
												_this.data1[params.index]._disabled = false;
												_this.data1[params.index]._checked = true;
												let last = _this.data1[_this.data1.length - 1];
												if (last.key != '' || last.value != '' || last.description != '') {
													_this.data1.push({
														key: '',
														value: '',
														description: '',
														_disabled: true
													});
												}
											}
										}, 600);
									}
								}
							});
						}
					},
					{
						title: 'description',
						key: 'description',
						render: (h, params) => {
							const _this = this;
							return h('Input', {
								props: {
									placeholder: 'description',
									value: _this.data1[params.index].description,
									clearable: true
								},
								directives: [{name: 'context'}],
								on: {
									'on-change': (event) => {
										if (_this.timer) {
											clearTimeout(_this.timer);
										}
										_this.timer = setTimeout(() => {
											_this.data1[params.index].description = event.target.value;
											if (event.target.value != '') {
												_this.data1[params.index]._disabled = false;
												_this.data1[params.index]._checked = true;
												let last = _this.data1[_this.data1.length - 1];
												if (last.key != '' || last.value != '' || last.description != '') {
													_this.data1.push({
														key: '',
														value: '',
														description: '',
														_disabled: true
													});
												}
											}
										}, 600);
									}
								}
							});
						}
					}],
				data1: [
					{
						key: '',
						value: '',
						description: '',
						_disabled: true
					}],
				columns2: [
					{
						type: 'selection',
						width: 60,
						align: 'center'
					},
					{
						title: 'key',
						key: 'key',
						render: (h, params) => {
							const _this = this;
							return h('Input', {
								props: {
									placeholder: 'key',
									value: _this.data2[params.index].key,
									clearable: true
								},
								directives: [{name: 'context'}],
								on: {
									'on-change': (event) => {
										if (_this.timer) {
											clearTimeout(_this.timer);
										}
										_this.timer = setTimeout(() => {
											_this.data2[params.index].key = event.target.value;
											if (event.target.value != '') {
												_this.data2[params.index]._disabled = false;
												_this.data2[params.index]._checked = true;
												let last = _this.data2[_this.data2.length - 1];
												if (last.key != '' || last.value != '' || last.description != '') {
													_this.data2.push({
														key: '',
														value: '',
														description: '',
														_disabled: true
													});
												}
											}
										}, 600);
									}
								}
							});
						}
					},
					{
						title: 'value',
						key: 'value',
						render: (h, params) => {
							const _this = this;
							return h('Input', {
								props: {
									placeholder: 'value',
									value: _this.data2[params.index].value,
									clearable: true
								},
								directives: [{name: 'context'}],
								on: {
									'on-change': (event) => {
										if (_this.timer) {
											clearTimeout(_this.timer);
										}
										_this.timer = setTimeout(() => {
											_this.data2[params.index].value = event.target.value;
											if (event.target.value != '') {
												_this.data2[params.index]._disabled = false;
												_this.data2[params.index]._checked = true;
												let last = _this.data2[_this.data2.length - 1];
												if (last.key != '' || last.value != '' || last.description != '') {
													_this.data2.push({
														key: '',
														value: '',
														description: '',
														_disabled: true
													});
												}
											}
										}, 600);
									}
								}
							});
						}
					},
					{
						title: 'description',
						key: 'description',
						render: (h, params) => {
							const _this = this;
							return h('Input', {
								props: {
									placeholder: 'description',
									value: _this.data2[params.index].description,
									clearable: true
								},
								directives: [{name: 'context'}],
								on: {
									'on-change': (event) => {
										if (_this.timer) {
											clearTimeout(_this.timer);
										}
										_this.timer = setTimeout(() => {
											_this.data2[params.index].description = event.target.value;
											if (event.target.value != '') {
												_this.data2[params.index]._disabled = false;
												_this.data2[params.index]._checked = true;
												let last = _this.data2[_this.data2.length - 1];
												if (last.key != '' || last.value != '' || last.description != '') {
													_this.data2.push({
														key: '',
														value: '',
														description: '',
														_disabled: true
													});
												}
											}
										}, 600);
									}
								}
							});
						}
					}],
				data2: [
					{
						key: '',
						value: '',
						description: '',
						_disabled: true
					}],
				columns3: [
					{
						type: 'selection',
						width: 60,
						align: 'center'
					},
					{
						title: 'key',
						key: 'key',
						render: (h, params) => {
							const _this = this;
							return h('Input', {
								props: {
									placeholder: 'key',
									value: _this.data3[params.index].key,
									clearable: true
								},
								directives: [{name: 'context'}],
								on: {
									'on-change': (event) => {
										if (_this.timer) {
											clearTimeout(_this.timer);
										}
										_this.timer = setTimeout(() => {
											_this.data3[params.index].key = event.target.value;
											if (event.target.value != '') {
												_this.data3[params.index]._disabled = false;
												_this.data3[params.index]._checked = true;
												let last = _this.data3[_this.data3.length - 1];
												if (last.key != '' || last.value != '' || last.description != '') {
													_this.data3.push({
														key: '',
														value: '',
														description: '',
														_disabled: true
													});
												}
											}
										}, 600);
									}
								}
							});
						}
					},
					{
						title: 'value',
						key: 'value',
						render: (h, params) => {
							const _this = this;
							return h('Input', {
								props: {
									placeholder: 'value',
									value: _this.data3[params.index].value,
									clearable: true
								},
								directives: [{name: 'context'}],
								on: {
									'on-change': (event) => {
										if (_this.timer) {
											clearTimeout(_this.timer);
										}
										_this.timer = setTimeout(() => {
											_this.data3[params.index].value = event.target.value;
											if (event.target.value != '') {
												_this.data3[params.index]._disabled = false;
												_this.data3[params.index]._checked = true;
												let last = _this.data3[_this.data3.length - 1];
												if (last.key != '' || last.value != '' || last.description != '') {
													_this.data3.push({
														key: '',
														value: '',
														description: '',
														_disabled: true
													});
												}
											}
										}, 600);
									}
								}
							});
						}
					},
					{
						title: 'description',
						key: 'description',
						render: (h, params) => {
							const _this = this;
							return h('Input', {
								props: {
									placeholder: 'description',
									value: _this.data3[params.index].description,
									clearable: true
								},
								directives: [{name: 'context'}],
								on: {
									'on-change': (event) => {
										if (_this.timer) {
											clearTimeout(_this.timer);
										}
										_this.timer = setTimeout(() => {
											_this.data3[params.index].description = event.target.value;
											if (event.target.value != '') {
												_this.data3[params.index]._disabled = false;
												_this.data3[params.index]._checked = true;
												let last = _this.data3[_this.data3.length - 1];
												if (last.key != '' || last.value != '' || last.description != '') {
													_this.data3.push({
														key: '',
														value: '',
														description: '',
														_disabled: true
													});
												}
											}
										}, 600);
									}
								}
							});
						}
					}],
				data3: [
					{
						key: '',
						value: '',
						description: '',
						_disabled: true
					}],
				content_type: 'multipart/form-data',
				response: ''
			};
		},
		methods: {
			sendRequest() {
				const self = this;
				if (this.request_url == '') {
					this.$Message.warning('Request URL is empty');
					return;
				}
				let params = this.data1.filter(currentValue => {
					return currentValue.key != '' && currentValue.value != '';
				}).map(currentValue => {
					let obj = {};
					obj[currentValue.key] = currentValue.value;
					return obj;
				});
				let extra = qs.stringify(Object.assign({}, ...params));
				let headers = Object.assign({}, ...this.data2.filter(currentValue => {
					return currentValue.key != '' && currentValue.value != '';
				}).map(currentValue => {
					let obj = {};
					obj[currentValue.key] = currentValue.value;
					return obj;
				}));
				let body = Object.assign({}, ...this.data3.filter(currentValue => {
					return currentValue.key != '' && currentValue.value != '';
				}).map(currentValue => {
					let obj = {};
					obj[currentValue.key] = currentValue.value;
					return obj;
				}));
				let url = extra == '' ? this.request_url : `${this.request_url}?${extra}`;
				let options = {
					method: this.request_method,
					url,
					headers,
					json: true
				};
				if (this.request_method != 'GET') {
					if (this.content_type == 'multipart/form-data') {
						options = Object.assign({}, options, {formData: body});
					} else if (this.content_type == 'application/x-www-form-urlencoded') {
						options = Object.assign({}, options, {form: body});
					} else if (this.content_type == 'application/json') {
						options = Object.assign({}, options, {
							headers: {
								'content-type': 'application/json'
							},
							body: JSON.stringify(body)
						});
					}
				}
				request(options, (err, httpResponse, body) => {
					if (err) return err;
					console.log(body);
					self.response = body;
				});
			}
		},
		watch: {
			request_method(val) {
				this.$emit('on-change-method', val, this.params);
				this.isBodyDisable = val == 'GET';
			},
			request_url(val) {
				this.$emit('on-change-url', val, this.params);
			}
		}
	};
</script>

<style scoped>

</style>
