<template>
	<div id="json">
		<div id="jsoneditor" style="width: 100%; height: 400px;"></div>
	</div>
</template>

<script>
	import JSONEditor from 'jsoneditor';

	export default {
		name: "jsonEditor",
		props: {
			json: {}
		},
		watch: {
			json(val) {
				if (val != "") {
					this.editor.set(val);
				}
			}
		},
		mounted() {
			let options = {};
			this.editor = new JSONEditor(document.getElementById("jsoneditor"), options);
		}
	};
</script>

<style lang="stylus" scoped>
	@import "~jsoneditor/dist/jsoneditor.min.css"
</style>
