<template>
	<div id="upload" @paste="onpaste" @click="openFile" @drop.prevent="ondrag" @dragenter.prevent @dragover.prevent @dragleave.prevent>
		<input type="file" style="display: none" ref="file" multiple="multiple" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" @change="onchange">
		<Icon type="ios-cloud-upload-outline" size="80"/>
		<div class="title">点击上传或者拖拽上传文件</div>
	</div>
</template>
<script>
	import {uploadToqiniu} from '../api/qiniu';
	import {saveBase64ToDesk} from '../assets/js/utils';

	export default {
		name: 'qiniuUpload',
		components: {},
		props: {
			accept: {
				required: false
			},
			config: {
				type: Object,
				required: true
			},
			bucket: {},
			urlList: {}
		},
		data() {
			return {
				uploadList: []
			};
		},
		computed: {},
		methods: {
			openFile() {
				this.$refs.file.click();
			},
			ondrag(e) {
				const _this = this;
				let files = e.dataTransfer.files;
				for (let i = 0; i < files.length; i++) {
					let file = {
						type: 'drag',
						path: files[i].path
					};
					_this.upload(file);
				}
			},
			onpaste(e) {
				const _this = this;
				console.log(e.clipboardData.files);
				let items = e.clipboardData.items;
				for (let i = 0; i < items.length; i++) {
					this.imgReader(items[i]).then(data => {
						console.log(data);
						let file = {
							type: 'paste',
							path: data
						};
						_this.upload(file);
					}).catch(error => {
						console.log(error);
					});
				}
			},
			onchange(e) {
				const _this = this;
				let files = e.target.files;
				for (let i = 0; i < files.length; i++) {
					let file = {
						type: 'change',
						path: files[i].path
					};
					_this.upload(file);
				}
			},
			imgReader(item) {
				return new Promise((resolve, reject) => {
					const blob = item.getAsFile(), reader = new FileReader();
					reader.readAsDataURL(blob);
					reader.onload = function (e) {
						let imgData = e.target.result;
						saveBase64ToDesk(imgData).then(data => {
							resolve(data);
						}).catch(error => {
							reject(error);
						});
					};
				});

			},
			upload(file) {
				const _this = this;
				if (this.bucket == '') {
					this.$Message.warning('请选择bucket');
					return;
				}
				let config = this.config;
				config.bucket = this.bucket;
				uploadToqiniu(config, file.path).then(data => {
					this.$db.add('imgUploadHistory', {
						url: data.key,
						baseUrl: _this.urlList
					}).catch(err => {
						console.log(err);
					});
					_this.uploadList.push({
						type: file.type,
						src: file.path,
						success: true,
						url: data.key,
						baseUrl: _this.urlList
					});
				}).catch(error => {
					_this.uploadList.push({
						type: file.type,
						src: file.path,
						success: false,
						url: '',
						baseUrl: _this.urlList,
						error: error
					});
				});
			}
		},
		watch: {
			uploadList(val) {
				this.$emit('show-upload-list', val);
			}
		}
	};
</script>
<style lang="stylus" scoped>
	#upload {
		border 1px dashed
		width 100%
		height 200px
		display flex
		flex-flow column
		align-items center
		justify-content center

		.title {
			font-size 20px
			font-weight bold
		}
	}
</style>
