<template>
  <div id="slider-bar">
    <Input search placeholder="搜索需要的功能" v-model="search"/>
    <Menu :theme="theme">
      <template v-for="(item,index) in  searchList" v-if="searchList.length>0">
        <Submenu :name="index+1" v-if="item.subMenu&&item.subMenu.length>=0" v-show="!item.hidden">
          <template slot="title">
            <Icon :custom="item.icon" v-show="!item.hidden"/>
            {{item.name}}
          </template>
          <template v-for="(item1,index1) in item.subMenu">
            <MenuItem :name="(index+1)+'-'+(index1+1)" :to="item1.to">{{item1.name}}</MenuItem>
          </template>
        </Submenu>
        <MenuItem :name="index+1" :to="item.to" v-else v-show="!item.hidden">
          <Icon :custom="item.icon"/>
          {{item.name}}
        </MenuItem>
      </template>
      <template v-for="(item,index) in  menuList" v-if="searchList.length==0">
        <Submenu :name="index+1" v-if="item.subMenu&&item.subMenu.length>=0" v-show="!item.hidden">
          <template slot="title">
            <Icon :custom="item.icon"/>
            {{item.name}}
          </template>
          <template v-for="(item1,index1) in item.subMenu">
            <MenuItem :name="(index+1)+'-'+(index1+1)" :to="item1.to">{{item1.name}}</MenuItem>
          </template>
        </Submenu>
        <MenuItem :name="index+1" :to="item.to" v-else v-show="!item.hidden">
          <Icon :custom="item.icon"/>
          {{item.name}}
        </MenuItem>
      </template>
    </Menu>
  </div>
</template>

<script>
  import List from "../assets/Menu";

  export default {
    name: 'sliderBar',
    data() {
      return {
        theme: 'dark',
        search: '',
        menuList: List,
        searchList: []
      };
    },
    watch: {
      search(val) {
        this.searchList = [];
        if (val == '') {
          this.searchList = [];
          return;
        }
        const _this = this;
        this.menuList.forEach((item) => {
          if (item.name.indexOf(val) != -1) {
            _this.searchList.push(item);
          } else {
            if (item.subMenu) {
              let obj = {
                name: item.name,
                icon: item.icon,
                subMenu: []
              };
              item.subMenu.forEach((item1) => {
                if (item1.name.indexOf(val) != -1) {
                  obj.subMenu.push(item1);
                }
              });
              if (obj.subMenu.length != 0) {
                _this.searchList.push(obj);
              }
            }
          }
        });
      }
    }
  };
</script>

<style lang="stylus" scoped>
  #slider-bar {
    height 100%
    background #515a6e
  }
</style>
