<template>
  <div id="system">
    <i-circle
        :size="150"
        :trail-width="4"
        :stroke-width="5"
        :percent="memoryUsage*100"
        stroke-linecap="square"
        stroke-color="#43a3fb">
      <div class="demo-Circle-custom">
        <h1>内存消耗</h1>
        <p>{{memoryUsage|percent}}</p>
      </div>
    </i-circle>
  </div>
</template>

<script>
  const process = require('process');

  export default {
    name: 'systemInfo',
    data() {
      return {
        memoryInfo: {total: 0, free: 0}
      };
    },
    computed: {
      memoryUsage() {
        if (this.memoryInfo.total != 0) {
          return (this.memoryInfo.total - this.memoryInfo.free) / this.memoryInfo.total;
        }
      }
    },
    mounted() {
      const _this = this;
      setInterval(() => {
        _this.memoryInfo = process.getSystemMemoryInfo();
      }, 3000);
      console.log(process.getCPUUsage());
      console.log(process.getIOCounters());

    }
  };
</script>

<style lang="stylus" scoped>
  #system {
    display flex
    align-items center
    justify-content space-around

    .demo-Circle-custom {
      h1 {
        color: #3f414d;
        font-size: 28px;
        font-weight: normal;
      }

      p {
        color: #657180;
        font-size: 14px;
        margin: 10px 0 15px;
      }

      span {
        display: block;
        padding-top: 15px;
        color: #657180;
        font-size: 14px;

        &:before {
          content: '';
          display: block;
          width: 50px;
          height: 1px;
          margin: 0 auto;
          background: #e0e3e6;
          position: relative;
          top: -15px;
        }
      }

      span i {
        font-style normal
        color #3f414d
      }
    }
  }
</style>
