<template>
  <div id="text">
    <span class="title">{{textShow}}</span>
    <Icon :type="iconType" size="20" @click="changeShow"/>
  </div>

</template>

<script>
  export default {
    props: {
      text: {
        type: String,
        required: true
      }
    },
    name: "textShow",
    data() {
      return {
        type: 1,
        iconType: "ios-eye"
      };
    },
    computed: {
      textShow() {
        if (this.type == 1) {
          return "*".repeat(this.text.length);
        } else {
          return this.text;
        }
      }
    },
    methods: {
      changeShow() {
        if (this.type == 1) {
          this.type = 2;
          this.iconType = "ios-eye-off";
        } else {
          this.type = 1;
          this.iconType = "ios-eye";
        }
      }
    },
    watch: {
      text() {
        this.type = 1;
      }
    }

  };
</script>

<style lang="stylus" scoped>
  #text {
    display inline-flex
    align-items center

    .title {
      font-size 18px
      height 30px
      line-height 30px
    }
  }
</style>
