<template>
  <div id="titleBar">
    <div class="title">开发者工具箱</div>
    <div class="btn-group">
      <a href="javascript:void(0)" class="min" @click="minWindow">
        <Icon type="ios-remove" size="32" color="white" class="icon"/>
      </a>
      <a href="javascript:void(0)" class="max" @click="maxWindow">
        <Icon type="ios-browsers-outline" size="26" color="white" class="icon"/>
      </a>
      <a href="javascript:void(0)" class="close" @click="closeWindow">
        <Icon type="ios-close" size="32" color="white" class="icon"/>
      </a>
    </div>
  </div>
</template>

<script>
  import {ipcRenderer} from 'electron';

  export default {
    name: "titleBar",
    methods: {
      minWindow() {
        ipcRenderer.send('system-change', {type: 1});
      },
      maxWindow() {
        ipcRenderer.send('system-change', {type: 2});
      },
      closeWindow() {
        ipcRenderer.send('system-change', {type: 3});
      }
    }
  };
</script>

<style lang="stylus" scoped>
  #titleBar {
    -webkit-user-select none
    -webkit-app-region drag
    display flex
    align-items center
    justify-content space-between
    height 40px
    background #515a6e
    .title {
      color white
      padding-left 10px
      font-size 20px
      font-weight bold
    }
    .btn-group {
      -webkit-app-region no-drag
      .icon {
        width 48px
        height 40px
        line-height 40px
      }
      .min, .max, .close {
        display inline-block
        width 48px
        height 40px
        text-align center
      }
      .min:hover {
        background rgb(146, 209, 0)
      }
      .max:hover {
        background rgb(146, 209, 0)
      }
      .close:hover {
        background rgb(232, 17, 35)
      }
    }
  }
</style>
