<template>
  <div id="echarts" :style="{width: width,height: height}"></div>
</template>

<script>
  const echarts = require('echarts');

  export default {
    name: "vEcharts",
    props: {
      width: {
        required: false,
        default: "100%"
      },
      height: {
        required: false,
        default: "200px"
      },
      options: {
        required: true
      }
    },
    data() {
      return {
        myEcharts: ""
      };
    },
    watch: {
      options: {
        deep: true,
        immediate: true,
        handler(val) {
          if (val.xAxis.data.length != 0) {
            this.myEcharts.setOption(val);
          }
        }
      }
    },
    mounted() {
      const _this=this;
      this.myEcharts = echarts.init(document.querySelector('#echarts'));
      window.onresize = function () {
        _this.myEcharts.resize();
     };
    }
  };
</script>

<style lang="stylus" scoped>

</style>
