<template>
  <div id="weather">
    <div v-if="weatherNow">
      <span>{{weatherNow.HeWeather6[0].basic.location}}</span>
      <span>{{weatherNow.HeWeather6[0].now.cond_txt}}</span>
      <span>更新时间: {{weatherNow.HeWeather6[0].update.loc}}</span>
    </div>
  </div>
</template>

<script>
  import { getCity, getCityCode, weatherNow } from '../api/weather';
  import { ipcRenderer } from 'electron';

  const schedule = require('node-schedule');

  export default {
    name: 'weatherReport',
    data () {
      return {
        weatherNow: ''
      };
    },
    methods: {
      initData () {
        const _this = this;
        getCity().then(data => {
          _this.city = data.content.address_detail.city;
          _this.$store.commit('updateCity', data.content.address_detail.city);
          getCityCode(data.content.address_detail.city).then(data => {
            _this.cityCode = data['HeWeather6'][0]['basic'][0]['cid'];
            _this.$store.commit('updateCityCode', data['HeWeather6'][0]['basic'][0]['cid']);
            weatherNow(data['HeWeather6'][0]['basic'][0]['cid']).then(data => {
              _this.$store.commit('updateWeatherNow', data);
              _this.weatherNow = data;
            });
          });
        }).catch(err => {
          console.log(err);
        });
      },
      updateWeather () {
        const _this = this;
        const rule = new schedule.RecurrenceRule();
        rule.second = 0;
        rule.minute = 0;
        const j = schedule.scheduleJob(rule, function () {
          _this.initData();
        });
      }
    },
    watch: {
      weatherNow (newVal, oldVal) {

      }
    },
    created () {
      this.initData();
      this.updateWeather();
      new Notification('标题', {
        body: '通知正文内容'
      });

    }
  };
</script>

<style lang="stylus" scoped>
  #weather {
    display inline-flex
    align-items center
    height 100%
    font-size 24px
  }
</style>
