<template>
  <div id="youdao">
    <div class="title">
      {{result.query}} {{result.translation[0]}}
      <Icon type="ios-volume-up" @click="playVoice()"/>
      <audio :src="result.tSpeakUrl" preload="auto" controls ref="audio" style="display: none"></audio>
    </div>
    <div class="basic">基础释义: <span>{{result.basic.explains.join(";")}}</span></div>
    <Collapse v-model="panel" v-if="result.web">
      <Panel name="1">
        短语
        <div slot="content">
          <div class="phrase-item" v-for="item in result.web">
            <span class="phrase-title">{{item.key}}</span>
            <span class="phrase-group">{{item.value.join(";")}}</span>
          </div>
        </div>
      </Panel>
    </Collapse>
  </div>
</template>

<script>
  export default {
    name: "youdaoTranslation",
    props: {
      result: {
        required: true
      }
    },
    data() {
      return {
        panel: "1"
      };
    },
    methods: {
      playVoice() {
        this.$refs.audio.play();
      }
    },
    created() {

    }
  }
  ;
</script>

<style lang="stylus" scoped>
  #youdao {
    .title {
      font-size 20px
      font-weight bold
      margin-bottom 10px
    }

    .basic {
      font-size 18px
      margin-bottom 10px
    }

    .phrase-item {
      font-size 18px

      .phrase-title {
        color #35a1d4
        margin-right 20px
      }
    }
  }
</style>
