<template>
  <div id="encrypt">
    <Form :label-width="80">
      <Input v-model="inputValue1" type="textarea" :autosize="{minRows: 5,maxRows: 10}" placeholder="需要加密的字符串"></Input>
    </Form>
    <Button type="primary" ghost size="large" @click="encode" class="mt-50 mb-50">Base64加密</Button>
    <Button type="primary" ghost size="large" @click="decode" class="mt-50 mb-50">Base64解密</Button>
    <Button type="primary" ghost size="large" @click="clearAll" class="mt-50 mb-50">清空结果</Button>
    <Input v-model="inputValue2" type="textarea" :autosize="{minRows: 5,maxRows: 10}" placeholder="加密后的字符串"/>
  </div>
</template>

<script>
  const Base64 = require('js-base64').Base64;

  export default {
    name: 'base64Encrypt',
    data () {
      return {
        inputValue1: '',
        inputValue2: ''
      };
    },
    methods: {
      decode () {
        this.inputValue1 = Base64.decode(this.inputValue2);
      },
      encode () {
        this.inputValue2 = Base64.encode(this.inputValue1);
      },
      clearAll () {
        this.inputValue1 = '';
        this.inputValue2 = '';
      }
    }
  };
</script>

<style lang="stylus" scoped>
  #encrypt {
    padding 10px 20px
  }
</style>
