<template>
  <div id="encrypt">
    <Form :label-width="80">
      <Input v-model="inputValue" type="textarea" :autosize="{minRows: 5,maxRows: 10}"></Input>
    </Form>
    <Button type="primary" ghost size="large" @click="clear" class="mt-50">清空</Button>
    <Divider orientation="left">加密后</Divider>
    <Button type="primary" ghost size="large" @click="copy" class="mr-50 mb-50">复制</Button>
    <Input v-model="outputValue" disabled type="textarea" :autosize="{minRows: 5,maxRows: 10}"/>
  </div>
</template>

<script>
  import MD5 from 'md5';

  export default {
    name: "md5Encrypt",
    data() {
      return {
        inputValue: ""
      };
    },
    methods: {
      copy() {
        navigator.clipboard.writeText(this.outputValue)
          .then(() => {
            this.$Message.success('文本已经成功复制到剪切板');
          })
          .catch(err => {
            this.$Message.error(`无法复制此文本：${err}`);
          });
      },
      clear() {
        this.inputValue = "";
      }
    },
    computed: {
      outputValue() {
        if (this.inputValue != "") {
          return MD5(this.inputValue);
        }
      },

    }
  };
</script>

<style lang="stylus" scoped>
  #encrypt {
    padding 10px 20px
  }
</style>
