<template>
  <div id="life">
    <div class="locate-city" v-if="weather_forecast.HeWeather6">
      {{weather_forecast.HeWeather6[0].basic.location}}
    </div>
    <v-echarts :options="echartsOption"></v-echarts>
    <div class="forecast" v-if="weather_forecast.HeWeather6">
      <div class="forecast-item" v-for="item in weather_forecast.HeWeather6[0].daily_forecast">
        <div class="day">{{item.date}}</div>
        <div class="weather">
          <img :src="weatherShow(item.cond_code_d,isDay)" alt="">
        </div>
        <div class="desc">{{isDay?item.cond_txt_d:item.cond_txt_n}}</div>
      </div>
    </div>
    <div class="title" v-if="weather_forecast.HeWeather6">降水概率</div>
    <div class="forecast" v-if="weather_forecast.HeWeather6">
      <div class="forecast-item" v-for="item in weather_forecast.HeWeather6[0].daily_forecast">
        <div class="desc">{{item.pop}}%</div>
      </div>
    </div>
  </div>
</template>

<script>
  import {getCity, getCityCode, weatherForecast, weatherNow} from '../../api/weather';
  import vEcharts from '../../components/vEcharts';

  export default {
    name: 'weather',
    components: {
      vEcharts
    },
    data() {
      return {
        loading: true,
        city: '',
        cityCode: '',
        weather_forecast: '',
        weather_now: '',
        isDay: true,
        echartsOption: {
          'title': {
            'text': '近七天温度',
            'show': false
          },
          'legend': {'data': ['']},
          'xAxis': {
            'show': false,
            'boundaryGap': false,
            'data': []
          },
          'yAxis': {
            'show': false,
            'boundaryGap': false
          },
          'grid': {
            'left': '7%',
            right: '7%'
          },
          'series': [
            {
              'type': 'line',
              'data': [],
              smooth: true,
              label: {
                show: true,
                position: 'top',
                formatter: '{c}°'
              }
            },
            {
              'type': 'line',
              'data': [],
              smooth: true,
              label: {
                show: true,
                position: 'bottom',
                formatter: '{c}°'
              }
            }]
        }
      };
    },
    methods: {
      weatherShow(val, isDay) {
        let code = val;
        if (!isDay) {
          let arr = [
            100,
            103,
            104,
            300,
            301];
          if (arr.indexOf(Number(val)) != -1) {
            code = val + 'n';
          }
        }
        return `static/weather/${code}.png`;
      }
    },
    watch: {
      city(val) {
        const _this = this;
        getCityCode(val).then(data => {
          _this.cityCode = data['HeWeather6'][0]['basic'][0]['cid'];
        });
        this.$store.commit('updateCity', val);
      },
      cityCode(val) {
        this.$store.commit('updateCityCode', val);
        const _this = this;
        if (val) {
          weatherForecast(val).then(data => {
            _this.loading = false;
            _this.weather_forecast = data;
            let renderData = data.HeWeather6[0].daily_forecast;
            renderData.forEach(item => {
              _this.echartsOption.xAxis.data.push(item.date);
              _this.echartsOption.series[0].data.push(item.tmp_max);
              _this.echartsOption.series[1].data.push(item.tmp_min);
            });
          }).catch(error => {
            console.log(error);
          });
          weatherNow(val).then(data => {
            _this.weather_now = data;
          }).catch(error => {
            console.log(error);
          });
        }
      }
    },
    mounted() {
      const _this = this;
      getCity().then(data => {
        _this.city = data.content.address_detail.city;
      }).catch(err => {
        console.log(err);
      });
    }
  };
</script>

<style lang="stylus" scoped>
  #life {
    color white
    width 100%
    height 100%
    background-image linear-gradient(135deg, #CE9FFC 0%, #7367F0 100%)
    .locate-city {
      text-align center
      padding-top 20px
      font-size 24px
      font-weight bold
    }

    #forecast-table {
      min-height 200px
    }

    .title {
      text-align center
      font-size 20px
    }

    .forecast {
      display flex
      align-items center
      justify-content space-between
      border-bottom 1px solid
      margin-bottom 10px
      padding-bottom 5px

      .forecast-item {
        flex 1

        .day {
          text-align center
        }

        .weather {
          width 50px
          height 50px
          margin 0 auto

          img {
            width 100%
          }
        }

        .desc {
          text-align center
        }
      }
    }
  }
</style>
