<template>
  <div id="index">
    <span>本软件集成众多实用的功能</span>
  </div>
</template>

<script>
  export default {
    name: "index"
  };
</script>

<style lang="stylus" scoped>
  #index {
    width 100%
    height 100%
    display flex
    align-items center
    justify-content center
    font-size 40px
    font-weight bold
  }
</style>
