<template>
	<div id="upload" v-context>
		<div class="masonry">
			<div class="item" v-for="item in imgList">
				<Icon custom="iconfont icon-shanchu" size="24" class="delete" @click="delHistory(item._id)"/>
				<img :src="`http://${item.baseUrl[0]}/${item.url}`" alt="" lazyload="on">
				<div class="url" v-for="item2 in item.baseUrl" v-copy.db="item2+'/'+item.url">{{item2+'/'+item.url}}</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'HistoryUpload',
		data() {
			return {
				imgList: []
			};
		},
		methods: {
			initData() {
				const self = this;
				this.$db.find('imgUploadHistory', {}).then(data => {
					self.imgList = data;
				}).catch(err => {
					console.log(err);
				});
			},
			delHistory(id) {
				const self = this;
				this.$db.delete('imgUploadHistory', {_id: id}).then(num => {
					self.initData();
				}).catch(error => {
					console.log(error);
				});
			}
		},
		mounted() {
			this.initData();
		}
	};
</script>

<style lang="stylus" scoped>
	#upload {
		width 100%
		height 100%

		.masonry {
			column-count 5
			column-gap 0

			.item {
				break-inside avoid
				box-sizing border-box
				padding 10px
				position relative
				background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#f3f3f3), to(#fff), color-stop(.1, #f3f3f3));
				border-top: 1px solid #ccc;
				border-right: 1px solid #ccc;
				border-bottom-right-radius: 10px 10px;
				border-bottom-left-radius: 10px 10px;
				box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);

				.delete {
					position absolute
					top 0
					right 0
				}

				img {
					width 100%
				}

				.url {
					text-align center
					word-break break-all
					word-wrap break-word
				}
			}
		}
	}
</style>
