<template>
	<div id="img">
		<Modal
			v-model="isAdd"
			title="增加新的配置"
		>
			<Input v-model="config.name" style="margin-bottom: 10px">
				<span slot="prepend">配置名称</span>
			</Input>
			<Input v-model="config.AK" style="margin-bottom: 10px">
				<span slot="prepend">AccessKey</span>
			</Input>
			<Input v-model="config.SK">
				<span slot="prepend">SecretKey</span>
			</Input>
			<div slot="footer" style="display: flex;justify-content: space-between">
				<Button type="info" size="large" @click="addConfig">确定</Button>
				<Button size="large" @click="isAdd=false">取消</Button>
			</div>
		</Modal>
		<Drawer title="所有配置" v-if="configList" :closable="false" v-model="DrawerIsOpen" :styles="{padding:0}">
			<Card style="width: 100%;padding: 0" :padding="0">
				<CellGroup @on-click="changeConfig">
					<Cell v-for="(item,index) in configList"
								:title="item.name"
								:selected="item._id==showConfig._id"
								:key="item._id"
								:name="index"
					>
						<Icon type="ios-trash-outline" slot="extra" @click.stop="deleteConfig(item._id)"/>
					</Cell>
				</CellGroup>
			</Card>
			<Button type="success" size="large" id="btn-add" @click="isAdd=true">增加</Button>
		</Drawer>
		<div id="zhanweitu" v-if="!configList||configList.length==0">
			<div class="title">当前无配置,请添加一个配置</div>
			<Button type="success" size="large" @click="isAdd=true">增加新配置</Button>
		</div>
		<div id="main" v-if="showConfig">
			<div class="title">配置名称: {{showConfig.name}}
				<Icon type="ios-create-outline" @click="isDeleteModelOpen=true"/>
				<Icon custom="iconfont icon-Convert" @click="DrawerIsOpen=true"/>
			</div>
			<div class="config">
				<div>AccessKey：
					<text-show :text="showConfig.config.AK"></text-show>
				</div>
				<div>SecretKey：
					<text-show :text="showConfig.config.SK"></text-show>
				</div>
				<div>
					选择上传的空间:
					<Select v-model="bucket" style="width:200px" v-if="bucketList">
						<Option v-for="item in bucketList" :value="item" :key="item">{{ item}}</Option>
					</Select>
				</div>
			</div>
			<qiniu-upload :config="showConfig.config" :urlList="tblList" :bucket="bucket" @show-upload-list="updateUploadList" v-context></qiniu-upload>
		</div>
		<Modal
			v-model="isDeleteModelOpen"
			title="修改当前配置"
			v-if="showConfig"
		>
			<Input v-model="newConfig.name" style="margin-bottom: 10px">
				<span slot="prepend">配置名称</span>
			</Input>
			<Input v-model="newConfig.config.AK" style="margin-bottom: 10px">
				<span slot="prepend">AccessKey</span>
			</Input>
			<Input v-model="newConfig.config.SK">
				<span slot="prepend">SecretKey</span>
			</Input>
			<div slot="footer" style="display: flex;justify-content: space-between">
				<Button type="info" size="large" @click="updateConfig(showConfig._id)">修改</Button>
				<Button size="large" @click="isDeleteModelOpen=false">取消</Button>
			</div>
		</Modal>
		<div class="swiper-container mt-20">
			<div class="swiper-wrapper">
				<img @click="showImg(`http://${item.baseUrl[0]}/${item.url}`)" :src="`http://${item.baseUrl[0]}/${item.url}`" alt="" class="swiper-item" v-for="item in uploadList">
			</div>
		</div>
		<Modal v-model="isImgShow" width="360">
			<p slot="header" style="color:#f60;text-align:center">
				<Icon type="ios-information-circle"></Icon>
				<span>图片信息</span>
			</p>
			<div class="flex-con" style="flex-flow: column">
				<img :src="imgSrc" alt="" style="width: 360px"/>
				<div v-context>{{imgSrc}}
					<Button type="primary" @click="copy(imgSrc)">复制地址</Button>
				</div>
			</div>
			<div slot="footer">
				<Button type="error" size="large" long @click="isImgShow=false">确认</Button>
			</div>
		</Modal>
	</div>
</template>

<script>
	import textShow from '../../components/textShow';
	import qiniuUpload from '../../components/qiniuUpload';
	import { getBuckets, getBucketTbl } from '../../api/qiniu';
	import { copyTextToClipboard } from '../../assets/js/utils';

	export default {
		name: 'qiniu',
		components: {
			textShow,
			qiniuUpload
		},
		data () {
			return {
				isDeleteModelOpen: false,
				isAdd: false,
				DrawerIsOpen: false,
				config: {
					name: '',
					AK: '',
					SK: ''
				},
				configList: null,
				showConfig: null,
				newConfig: {
					name: '',
					config: {
						AK: '',
						SK: ''
					}
				},
				bucketList: [],
				bucket: '',
				tblList: [],
				uploadList: [],
				isImgShow: false,
				imgSrc: ''
			};
		},
		methods: {
			//初始化数据
			initConfig () {
				const _this = this;
				this.$db.find('imgUpload', {type: 'qiniu'}).then(ret => {
					_this.configList = ret;
					if (_this.showConfig) {
						ret.forEach(item => {
							if (item._id == _this.showConfig._id) {
								_this.showConfig = item;
							}
						});
						let arr = ret.filter(item => {
							return item.id == _this.showConfig.id;
						});
						if (arr.length == 0) {
							if (ret.length > 0) {
								_this.showConfig = ret[0];
							} else {
								_this.showConfig = null;
							}
						}
					} else {
						_this.showConfig = _this.configList[0];
					}
				}).catch(err => {

				});
			}, //增加配置
			addConfig () {
				if (this.config.name == '') {
					return this.$Message.warning('请填写配置名称');
				}
				if (this.config.AK == '') {
					return this.$Message.warning('AccessKey');
				}
				if (this.config.SK == '') {
					return this.$Message.warning('SecretKey');
				}
				this.$db.add('imgUpload', {
					type: 'qiniu',
					name: this.config.name,
					config: {
						AK: this.config.AK,
						SK: this.config.SK
					}
				}).then(ret => {
					this.isAdd = false;
					this.$Message.success('添加成功');
					this.initConfig();
				}).catch(err => {
					console.log(err);
				});

			}, //切换当前显示的配置
			changeConfig (index) {
				this.DrawerIsOpen = false;
				this.showConfig = this.configList[index];
				this.bucket = '';
				this.bucketList = [];
			}, //修改配置
			updateConfig (id) {
				const _this = this;
				this.$db.update('imgUpload', {_id: id}, {
					$set: {
						name: _this.newConfig.name,
						config: _this.newConfig.config
					}
				}).then(ret => {
					console.log(ret);
					_this.initConfig();
					_this.isDeleteModelOpen = false;
					this.$Message.success('更新成功');
				}).catch(err => {

				});
			}, //删除配置
			deleteConfig (id) {
				console.log(id);
				const _this = this;
				this.$Modal.confirm({
					title: '是否删除配置',
					content: '<p>Content of dialog</p><p>Content of dialog</p>',
					okText: '确定',
					cancelText: '取消',
					onOk: () => {
						console.log(id);
						_this.$db.delete('imgUpload', {_id: id}).then(num => {
							_this.initConfig();
						}).catch(error => {
							console.log(error);
						});
					},
					onCancel: () => {
						this.$Message.info('Clicked cancel');
					}
				});
			},
			updateUploadList (arr) {
				this.uploadList = arr;
			},
			showImg (url) {
				this.isImgShow = true;
				this.imgSrc = url;
			},
			copy (text) {
				copyTextToClipboard(text);
			}
		},
		watch: {
			showConfig (val) {
				const _this = this;
				if (val) {
					this.newConfig.name = val.name;
					this.newConfig.config.AK = val.config.AK;
					this.newConfig.config.SK = val.config.SK;
					getBuckets({
						AK: val.config.AK,
						SK: val.config.SK
					}).then(data => {
						data.forEach(item => {
							_this.bucketList.push(item);
						});
					});
				}
			},
			bucketList (val) {
				if (val) {
					this.bucket = val[0];
				}
			},
			bucket (val) {
				const _this = this;
				if (val != '') {
					let config = this.showConfig.config;
					config.bucket = val;
					getBucketTbl(config).then(data => {
						for (let i = 0; i < data.length; i++) {
							_this.tblList.push(data[i]);
						}
					}).catch(error => {
						console.log(error);
					});
				}
			}
		},
		created () {
			this.initConfig();
		}
	};
</script>

<style lang="stylus" scoped>
	#img {
		position relative
		width 100%
		height 100%
		padding 16px

		#zhanweitu {
			width 100%
			height 100%
			display flex
			flex-flow column
			align-items center
			justify-content center

			.title {
				font-size 20px
				font-weight bold
				margin-bottom 10px
			}
		}

		#main {
			.title {
				font-size 20px
				font-weight bold
			}

			.config {
				font-size 18px
			}
		}

		.swiper-container {
			width 100%
			overflow scroll
			padding 10px

			.swiper-wrapper {
				width 1000%

				.swiper-item {
					float left
					width 100px
					height 100px
					margin-right 10px
				}
			}

		}
	}

</style>
