.w-100
  width 100%

.w-100px
  width 100px

.w-300px
  width 300px

.ml-10
  margin-left 10px

.ml-20
  margin-left 20px

.ml-50
  margin-left 50px

.mr-50
  margin-right 50px

.mb-30
  margin-bottom 30px

.mb-50
  margin-bottom 50px

.mt-20
  margin-top 20px

.mt-30
  margin-top 30px

.mt-50
  margin-top 50px

.p-20
  padding 20px

.p-40
  padding 40px

.pt-20
  padding-top 20px

.pl-20
  padding-left 20px

.inline-block
  display inline-block

.flex-wrap
  display flex
  align-items center
  justify-content space-between

.flex-con {
  display flex
  align-items center
  justify-content center
}


.line-clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}