.weather {
  width 100px
  height 100px
  background-position center center
  background-repeat no-repeat
  background-size 100px

  &.weather-100 {
    background-image url("static/weather/100.png")
  }

  &.weather-100n {
    background-image url("static/weather/100n.png")
  }

  &.weather-101 {
    background-image url("static/weather/101.png")
  }

  &.weather-102 {
    background-image url("static/weather/102.png")
  }

  &.weather-103 {
    background-image url("static/weather/103.png")
  }

  &.weather-103n {
    background-image url("static/weather/103n.png")
  }

  &.weather-100n {
    background-image url("static/weather/100n.png")
  }

  &.weather-104 {
    background-image url("static/weather/104.png")
  }

  &.weather-104n {
    background-image url("static/weather/104n.png")
  }

  &.weather-200 {
    background-image url("static/weather/200.png")
  }

  &.weather-201 {
    background-image url("static/weather/201.png")
  }

  &.weather-202 {
    background-image url("static/weather/202.png")
  }

  &.weather-203 {
    background-image url("static/weather/203.png")
  }

  &.weather-204 {
    background-image url("static/weather/204.png")
  }

  &.weather-205 {
    background-image url("static/weather/205.png")
  }

  &.weather-206 {
    background-image url("static/weather/206.png")
  }

  &.weather-207 {
    background-image url("static/weather/207.png")
  }

  &.weather-208 {
    background-image url("static/weather/208.png")
  }

  &.weather-209 {
    background-image url("static/weather/209.png")
  }

  &.weather-210 {
    background-image url("static/weather/210.png")
  }

  &.weather-211 {
    background-image url("static/weather/211.png")
  }

  &.weather-212 {
    background-image url("static/weather/212.png")
  }

  &.weather-213 {
    background-image url("static/weather/213.png")
  }

  &.weather-300 {
    background-image url("static/weather/300.png")
  }

  &.weather-300n {
    background-image url("static/weather/300n.png")
  }

  &.weather-301 {
    background-image url("static/weather/301.png")
  }

  &.weather-301n {
    background-image url("static/weather/301n.png")
  }

  &.weather-302 {
    background-image url("static/weather/302.png")
  }

  &.weather-303 {
    background-image url("static/weather/303.png")
  }

  &.weather-304 {
    background-image url("static/weather/304.png")
  }

  &.weather-305 {
    background-image url("static/weather/305.png")
  }

  &.weather-306 {
    background-image url("static/weather/306.png")
  }

  &.weather-307 {
    background-image url("static/weather/307.png")
  }

  &.weather-309 {
    background-image url("static/weather/309.png")
  }

  &.weather-310 {
    background-image url("static/weather/310.png")
  }

  &.weather-311 {
    background-image url("static/weather/311.png")
  }

  &.weather-312 {
    background-image url("static/weather/312.png")
  }

  &.weather-313 {
    background-image url("static/weather/313.png")
  }

  &.weather-314 {
    background-image url("static/weather/314.png")
  }

  &.weather-315 {
    background-image url("static/weather/315.png")
  }

  &.weather-316 {
    background-image url("static/weather/316.png")
  }

  &.weather-317 {
    background-image url("static/weather/317.png")
  }

  &.weather-318 {
    background-image url("static/weather/318.png")
  }

  &.weather-399 {
    background-image url("static/weather/399.png")
  }

  &.weather-400 {
    background-image url("static/weather/400.png")
  }

  &.weather-401 {
    background-image url("static/weather/401.png")
  }

  &.weather-402 {
    background-image url("static/weather/402.png")
  }

  &.weather-403 {
    background-image url("static/weather/403.png")
  }

  &.weather-404 {
    background-image url("static/weather/100n.png")
  }

  &.weather-405 {
    background-image url("static/weather/405.png")
  }

  &.weather-406 {
    background-image url("static/weather/406.png")
  }

  &.weather-406n {
    background-image url("static/weather/406n.png")
  }

  &.weather-407 {
    background-image url("static/weather/407.png")
  }

  &.weather-407n {
    background-image url("static/weather/407n.png")
  }

  &.weather-408 {
    background-image url("static/weather/408.png")
  }

  &.weather-409 {
    background-image url("static/weather/409.png")
  }

  &.weather-410 {
    background-image url("static/weather/410.png")
  }

  &.weather-499 {
    background-image url("static/weather/499.png")
  }

  &.weather-500 {
    background-image url("static/weather/500.png")
  }

  &.weather-501 {
    background-image url("static/weather/501.png")
  }

  &.weather-502 {
    background-image url("static/weather/502.png")
  }

  &.weather-503 {
    background-image url("static/weather/503.png")
  }

  &.weather-504 {
    background-image url("static/weather/504.png")
  }

  &.weather-507 {
    background-image url("static/weather/507.png")
  }

  &.weather-508 {
    background-image url("static/weather/508.png")
  }

  &.weather-509 {
    background-image url("static/weather/509.png")
  }

  &.weather-510 {
    background-image url("static/weather/510.png")
  }

  &.weather-511 {
    background-image url("static/weather/511.png")
  }

  &.weather-512 {
    background-image url("static/weather/512.png")
  }

  &.weather-513 {
    background-image url("static/weather/513.png")
  }

  &.weather-514 {
    background-image url("static/weather/514.png")
  }

  &.weather-515 {
    background-image url("static/weather/515.png")
  }

  &.weather-900 {
    background-image url("static/weather/900.png")
  }

  &.weather-901 {
    background-image url("static/weather/901.png")
  }

  &.weather-999 {
    background-image url("static/weather/999.png")
  }
}
