<template>

</template>
<script>


  export default {
    name: 'offline_ide',
    components: {},
    data () {
      return {

      };
    },
    methods: {},
    computed: {},
    mounted () {

    }
  };
</script>

<style scoped>

</style>