<template>
	<div id="app">
		<title-bar></title-bar>
		<section class="root">
			<div class="scroll-item">
				<slider-bar></slider-bar>
			</div>
			<div class="view">
				<keep-alive exclude="HistoryUpload,qrcode">
					<router-view></router-view>
				</keep-alive>
			</div>
		</section>
		<foot-bar></foot-bar>
		<clock v-if="isShowClock"></clock>
	</div>
</template>

<script>
	import titleBar from './components/titleBar';
	import sliderBar from './components/sliderBar';
	import footBar from './components/footBar';
	import clock from './components/clock';

	export default {
		name: 'develop-toolkit',
		components: {
			titleBar,
			sliderBar,
			footBar,
			clock
		},
		data() {
			return {
				isShowClock: false
			};
		}
	};
</script>

<style>
	@import "https://at.alicdn.com/t/font_862192_61hjqbue1k9.css";

	html, body {
		width: 100%;
		height: 100%;
	}

	::-webkit-scrollbar {
		display: none;
	}

	#app {
		display: flex;
		flex-flow: column;
		width: 100%;
		height: 100%;
	}

	section.root {
		flex: 1;
		display: flex;
		align-items: center;
	}

	.scroll-item {
		height: 100%;
		overflow-y: scroll;
	}

	.view {
		flex: 1;
		height: 100%;
		overflow: scroll;
	}
</style>
